@charset "UTF-8";
/* CSS Document */

@font-face {
    font-family: 'arvobold';
    src: url('arvo-bold-webfont.eot');
    src: url('arvo-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('arvo-bold-webfont.woff') format('woff'),
         url('arvo-bold-webfont.ttf') format('truetype'),
         url('arvo-bold-webfont.svg#arvobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latoregular';
    src: url('lato-regular-webfont.eot');
    src: url('lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('lato-regular-webfont.woff') format('woff'),
         url('lato-regular-webfont.ttf') format('truetype'),
         url('lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latoblack';
    src: url('lato-black-webfont.eot');
    src: url('lato-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('lato-black-webfont.woff') format('woff'),
         url('lato-black-webfont.ttf') format('truetype'),
         url('lato-black-webfont.svg#latoblack') format('svg');
    font-weight: normal;
    font-style: normal;

}

#circles {
	margin-top: 60px;
	}
	
#therow {
	margin-left: 120px;
	margin-right: auto;
	}

.underling {
	width: 156px;
	height: 406px;
	float:left;
	display:block;
	padding-left: 20px;
	padding-right: 20px; 
	border-leftt: dashed thin #000;
	border-right: dashed thin #000;
}

.underling p {
	width: 156px;
	font-family: 'latoregular';
	size: 14px;
	text-align: center;
	
}

.underling h3 {
	font-family: 'arvobold';
	font-size: 16px;
	line-height: 16px;
	letter-spacing: -1px;
	text-align: center;
	}
	
.end {
	border-right:none;
	}

body {
	background-image:url(images/texture.png);
	
	}
.slidesjs-container {
	height: 450px;
	}
.slidesjs-control {
	height: 450px;
	}
#biggin {
	padding-top: 60px;
	}
#thebigone {

	}
	
#thebigone .slidesjs-container {
	height: 575px;
}
#thebigone .slidesjs-previous {
  margin-left: 60px;
  margin-top: 10px;
  padding-bottom: 10px;
  float:left;
  z-index: 100000000;
}
#thebigone .slidesjs-next {
  margin-left: 5px;
  margin-top: 10px;
  padding-bottom: 10px;
  float:left;
}
	
#speakerbigone {

}

#speakerbigone .slidesjs-container {
	height: 500px;
}
#speakerbigone .slidesjs-previous {
  margin-left: 60px;
  margin-top: 10px;
  padding-bottom: 10px;
  float:left;
  z-index: 100000000;
}
#speakerbigone .slidesjs-next {
  margin-left: 5px;
  margin-top: 10px;
  padding-bottom: 10px;
  float:left;
}

a .slidesjs-previous :hover {
	text-decoration:none;
}

a .slidesjs-next :hover {
	text-decoration:none;
}

.slidesjs-pagination {
    margin-top: 10px;
    margin-right: 60px;
    float: right;
    list-style: none;
    z-index: 5000000000;
}

.slidesjs-pagination li {
    float: left;
    margin: 0 1px;
}

.slidesjs-pagination li a {
    display: block;
    width: 13px;
    height: 0;
    padding-top: 13px;
    background-image: url(/images/pagination.png);
    background-position: 0 0;
    float: left;
    overflow: hidden;
}

.slidesjs-pagination li a.active, .slidesjs-pagination li a:hover.active { background-position: 0 -13px }

.slidesjs-pagination li a:hover { background-position: 0 -26px }

#thebigone a:link, #thebigone a:visited { color: #333 }

#thebigone a:hover, #thebigone a:active { color: #9e2020 }

#dropitlow {
	background-color: none;
	width: 3px;
	margin-left:50px;
	margin-top:-20px;
}

#dropit {
	background-color: none;
	width: 3px;
	margin-left:60px;
	margin-top:-20px;
}

#eventmenu {
	display: block;
	float: left;
	text-align: center;
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	font-size: 16px;
	background-image: linear-gradient(rgb(255, 255, 255), rgb(242, 242, 242));
	margin-left: 825px;
	border-radius: 2px;
	border: 1px #ccc solid;
}

#eventmenu ul li {
	list-style-type:none;
	padding-right: 30px;
	padding-top: 8px;
}

#eventmenu ul li a:hover {
	background-color:#0088cc;
	color: white;
	text-decoration:none; 
}

#speakersmenu {
	display: block;
	float: left;
	text-align: center;
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	font-size: 16px;
	background-image: linear-gradient(rgb(255, 255, 255), rgb(242, 242, 242));
	margin-left: 633px;
	border-radius: 2px;
	border: 1px #ccc solid;
}

#speakersmenu ul li {
	list-style-type:none;
	padding-right: 30px;
	padding-top: 8px;
}

#speakersmenu ul li a:hover {
	background-color:#0088cc;
	color: white;
	text-decoration:none; 
}

.button {
	width: 100%;
	font-family: 'Roboto Slab', serif;
	font-weight: bold;
	font-size: 16px;
	padding: 5px 5px 5px 5px;
	background-color: #fff;
	margin-top: 5px;
	text-shadow: none;
	font-color: #000;

}

#linktopage {
	margin-top: 350px;
	margin-left: 1000px;

}

.jumbotron {
  position: relative;
  padding: 0;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
  z-index: -500000;
}
.jumbotron h1 {
  font-size: 80px;
  line-height: 40px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  margin-top: -130px;
}
.jumbotron p {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.25;
  margin-bottom: 30px;
}

#jumboheadline {
	margin-top:-500px;
	z-index: 100000000;
	}
	
/*slides */

#slide1hed {
	font-family: 'Roboto Slab', serif;
	font-weight: bold;
	font-size: 80px;
	width: 50%;
	margin-top: -340px;
	margin-left: 60px;
	text-align: left;
	line-height: 80%;
	text-shadow: none;
	}
#slide2hed {
	margin-top: -240px;
	margin-left: 850px;
	width: 40%;
	text-align: left;
	}
#slide2hed {
	font-family: 'Roboto Slab', serif;
	font-weight: bold;
	font-size: 60px;
	color: #fff;
	line-height: 80%;
	}
#slide2hed #modify {
	color: #ffe293;
	}
#slide2copy {
	margin-left: 30px;
	margin-top: -380px;
	text-align: left;
	width: 30%;
	}
#speakerslidehed {
	margin-top: -350px;
	margin-left: 250px;
	width: 60%;
	}
#speakerslidehed {
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	font-size: 80px;
	color: yellow;
	line-height: 80%;
	text-align: center;
	}
#speakerannounce {
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	font-size: 16px;
	margin-top: 150px;
	text-align: center;
	width: 100%;
	}
#slide3hed {
	font-family: 'Roboto Slab', serif;
	font-weight: bold;
	font-size: 80px;
	width: 30%;
	margin-top: -300px;
	text-align: left;
	line-height: 80%;
	margin-left: 30px;
	text-shadow: 0px 0px 10px 10px #000;
	}
#slide3copy {
	margin-left: 1000px;
	text-align: left;
	width: 14%;
	margin-top: -300px;
	color: #000;
	text-shadow: none;
	}
#slide4hed {
	font-family: 'Roboto Slab', serif;
	font-weight: bold;
	font-size: 120px;
	width: 60%;
	margin-top: -360px;
	text-align: left;
	line-height: 80%;
	margin-left: 375px;
	text-shadow: 0px 0px 10px 10px #000;
	}
#slide4copy {
	margin-left: 175px;
	text-align: left;
	width: 10%;
	margin-top: -200px;
	color: #000;
	text-shadow: none;
	}
#slide4copy img {
	width: 100px;
	height: auto;
	padding-bottom: 20px;
	}
#daniel_copy {
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	font-size: 170px;
	width: 70%;
	margin-top: -360px;
	text-align: center;
	color: yellow;
	line-height: 80%;
	margin-left: 200px;
	text-shadow: 0px 0px 10px 10px #000;
	}
#daniel_nytimes {
	font-family: 'Roboto Slab', serif;
	margin-left: 1020px;
	text-align: left;
	font-size: 15px;
	font-weight: 300;
	width: 10%;
	margin-top: -75px;
	color: #000;
	text-shadow: none;
	}
#venue1copy {
	font-family: 'Roboto Slab', serif;
	font-weight: bold; 
	font-size: 30px;
	margin-left: 60px;
	line-height: 100%;
	text-align: left;
	width: 15%;
	margin-top: -460px;
	color: #fff;
	text-shadow: none;
	}
#venue2copy {
	font-family: 'Roboto Slab', serif;
	font-weight: bold;
	font-size: 30px;
	margin-left: 60px;
	line-height: 100%;
	text-align: left;
	width: 20%;
	margin-top: -460px;
	color: #fff;
	text-shadow: none;
	}
#sponsorhed {
	font-family: 'Roboto Slab', serif;
	font-weight: bold;
	font-size: 150px;
	width: 60%;
	text-shadow: none;
	margin-top: -300px;
	text-align: left;
	line-height: 80%;
	margin-left: 30px;
	text-shadow: 0px 0px 10px 10px #000;
	}
#sponsorcopy {
	font-family: 'Roboto Slab', serif;
	font-weight: bold;
	font-size: 30px;
	margin-left: 800px;
	text-align: left;
	width: 20%;
	color: #fff;
	text-shadow: none;
	margin-top: -100px;
	}
#bigtron {
	margin-bottom: 30px;
	}
	
#main {
	margin-top: 40px;
	position: relative;
	}
.ribbon { background-image:url(images/ribbon.png); width:930px; height: 20px; margin-left: auto; margin-right:auto; font-family: 'Roboto Slab', serif; font-size: 14px; line-height: 14px; color: #fff; text-align: center; margin-top: 60px; padding: 10px 80px 17px 50px; }

.ribbon p {
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px; 
	}
.social {
	padding: -10px 10px -10px -10px ;
	}
#logo { color: #fff; text-height: 100pt; }
.nav {
	font-family: 'Roboto Slab', serif;
	z-index: 10000000000;
	}
#flag1 {
	font-family: 'Roboto Slab', serif;
	font-size: 100px;
	color: #B42004;
	font-weight: bold;
	margin-bottom: 0px;
	letter-spacing:-5px;
	}
#flag2 {
	font-family: 'Roboto Slab', serif;
	size: 60px;
	color: #CF3;
	font-size: 100px;
	font-weight: bold;
	margin-bottom: 0px;
	letter-spacing:-5px;
	}
#navigation {
	float: right;
	margin-top: 50px;
	}
.brand {
	margin-bottom: 0px;
	}
#leftside {
	z-index: -10000000;
	}
#myCarousel {
	z-index: -10000000;
	height: 700px;
	}
 .caption {
  z-index:500;
  display:block!important;
  position:absolute;
  bottom: 0;
  top:-80;
  left:10;
}
#sidebar1 {
	background-color: #B42004;
	color: #fff;
	padding: 0px 5px 5px 5px;
	margin-top: 0;
	}
#sidebar1_hed {
	background-color: #000000;
	padding: 0px 5px 0px 5px;
	}
#sidebar2 {
	background-color: #B42004;
	color: #fff;
	padding: 0px 5px 5px 5px;
	}
#sidebar2_hed {
	background-color: #000000;
	padding: 0px 5px 0px 5px;
	}

h1 {
	font-family: 'Alfa Slab One', cursive;
}
#leftside {
	margin-top: 20px;
	}
#photo {
	padding-bottom: 20px;
	z-index: -100000000;
	}
	
#secondary {
	padding-bottom: 20px;
	}

#footer {
	margin-top: 30px;
	text-align:center;
	color: #444;
	}
	
	#navigation {
	float: right;
	margin-top: 50;

	}

 #flag1 {
	font-family: 'Roboto Slab', serif;
	font-size: 70px;
	color: #B42004;
	font-weight: bold;
	margin-bottom: 0px;
	letter-spacing:-5px;
	}
#flag2 {
	font-family: 'Roboto Slab', serif;
	size: 80px;
	color: #CF3;
	font-size: 70px;
	font-weight: bold;
	margin-bottom: 0px;
	letter-spacing:-5px;
	}
	.navbar-inner {
	height: 100px;
	border-radius: 0;
	}
	#insidemenu {
	margin-top: 10px;	
	}
	#navigation {
	margin-top:20px;
	z-index: 5000000;
	}
	
/* page styles */

#pagehead h1 {
  color: #fff;
  font-size: 100px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  margin-top: -130px;
  margin-left: 50px;
  text-shadow: 1px 1px 1px #333;
}

#content {
	margin-top: 30px;
	}

#thepost {
	margin-top: 30px;
	}
#content p {
	font-family: 'latoregular';
	font-size: 16px;
	}
#headline {
	margin-left: 30px;
	}
#headline h1 {
	font-weight: 800;
	letter-spacing: -3px;
	font-size: 100px;
	padding-bottom: 20px;
	}

.mastimage {
	height: 360px;
	width:100%;
	overflow: hidden;
	}

#thestuff {
	margin-top: 60px;
	}
	
/* twitter */
#twitter-feed {
    width:258px;
    margin:auto;
    font-family: Arial, Helvetica, sans-serif;
    margin-top:30px;
    padding:8px 10px 5px 10px;
    border-radius:12px;
    background-color:#FFF;
    color:#333;
    overflow:auto;
}
#twitter-feed h1 {
    color:#5F5F5F;
    margin:0px;
    padding:9px 0px 9px 0px;
    font-size:18px;
    font-weight:lighter;
}
.twitter-article, #loading-container {
    width:258px;
    border-top:1px dotted #CCC;
    float:left;
    padding:8px 0px 8px 0px;
}
#loading-container {
    padding:16px 0px 16px 0px;
    text-align:center;
}
.twitter-pic {
    float:left;
}
 
.twitter-pic img {
    float:left;
    border-radius:7px;
    border:none;
 
}
 img  {
     border:none;
 }
.twitter-text p {
    margin:0px;
    line-height:15px;
}
.twitter-text a,  h1 a {
    color: #00acee;
    text-decoration: none;
}
.twitter-text a:hover,  h1 a:hover {
    text-decoration: underline;
    color: #00acee;
}
 
.twitter-text {
    width:204px;
    float:left;
    font-size:11px;
    padding-left: 11px;
}
 
.tweet-time {
    font-size:10px;
    color:#878787;
    float:right;
}
.tweet-time a, .tweet-time a:hover {
    color:#878787;
}
.tweetprofilelink a {
    color:#444;
}
.tweetprofilelink a:hover {
    color:#444;
}
.backlink {
    font-size:11px;
    text-align:center;
}
 
.backlink a {
    color:#aaa;
}

/*speakers */
.speakerspace {
	padding-top: 20px;
	padding-bottom: 20px;
	height: auto; 
}

.speakerhed {
	font-family: 'arvobold';
	font-size: 16px;
}
/* Large desktop */
@media (min-width: 1200px) { 

 #flag1 {
	font-family: 'Roboto Slab', serif;
	font-size: 100px;
	color: #B42004;
	font-weight: bold;
	margin-bottom: 0px;
	letter-spacing:-5px;
	}
#flag2 {
	font-family: 'Roboto Slab', serif;
	size: 100px;
	color: #CF3;
	font-size: 80px;
	font-weight: bold;
	margin-bottom: 0px;
	letter-spacing:-5px;
	}
	#menu {
	height: 100px;
	z-index: 50000000;
	}
#navigation {
	} }
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	#forthephones {
		height: auto;
		}
	#circles {
		margin-top: 60px;
		}
	.underling {
	width: 90%;
	height: auto;
	float:left;
	display:block;
	padding-left: 20px;
	padding-bottom: 20px;
	padding-top:20px;
	margin-left: 0;
	margin-right: auto;
	border-bottom: dashed thin #000;
	border-right: none;
	text-align: left;
}
.circleimg {
	width: 20%;
	float: left;
	}
.texty {
	width:70%;;
	float: left;
	margin-left: 10px;
	}
.underling h3 {
	text-align: left;
	}
.underling p {
	width:100%;
	font-family: 'latoregular';
	size: 14px;
	float:left;
	display: block;
	text-align: justify;
}

#therow {
	margin-left: 0px;
	margin-right: auto;
	}
	
.end {
	border-bottom: none;
	}
#biggin {
	padding-top: 20px;
	}
	.jumbotron h1 {
	 font-size: 60px;
	 }
	 #navigation {
	background-color: #fff;
	}
	}
 
 
 #flag1 {
	font-family: 'Roboto Slab', serif;
	font-size: 100px;
	color: #B42004;
	font-weight: bold;
	margin-bottom: 0px;
	letter-spacing:-5px;
	}
#flag2 {
	font-family: 'Roboto Slab', serif;
	size: 100px;
	color: #CF3;
	font-size: 80px;
	font-weight: bold;
	margin-bottom: 0px;
	letter-spacing:-5px;
	}
#menu {
	height: 100px;
	z-index: 50000000;
	}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	#headline {
	margin-left: 0;
	height: 40px;
		}
	#thepost {
	margin-top: 20px;
	}
	
	#headline h1 {
	font-weight: 800;
	letter-spacing: -3px;
	font-size: 40px;
	padding-bottom: 20px;
	}
	#carousel {
		margin-top:-60px;
		}
	#circles {
		margin-top: 60px;
		}
	#biggin {
	padding-top: 20px;
	}
	.underling {
	width: 90%;
	height: auto;
	float:left;
	display:block;
	padding-left: 20px;
	padding-bottom: 20px;
	padding-top:20px;
	margin-left: 0;
	margin-right: auto;
	border-bottom: dashed thin #000;
	border-right: none;
	text-align: left;
}
.circleimg {
	width: 20%;
	float: left;
	}
.texty {
	width:70%;;
	float: left;
	margin-left: 10px;
	text-align: left;
	}
.underling h3 {
	text-align: left;
	}
.underling p {
	width:100%;
	font-family: 'latoregular';
	size: 14px;
	float:left;
	display: block;
	text-align: left;
}

#therow {
	margin-left: 0px;
	margin-right: auto;
	}
	
.end {
	border-bottom: none;
	} 
#main {
	margin-top: 80px;
	}


.jumbotron h1 {
	font-size: 50px;
	}
	
#navigation {
	background-color: #fff;
	}
 }
 
	
/* Small tablet */
@media (max-width: 640px) { 
	#main  {
		margin-top: 0;
		}
	#logo {
		width: 300px;
		height: auto;
		}
		#pagehead h1 {
  color: #fff;
  font-size: 80px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  margin-top: -130px;
  margin-left: 50px;
  text-shadow: 1px 1px 1px #333;
}
.mastimage {
	height: auto;
	width:100%;
	overflow: hidden;
	}
	
	.navbar-inner {
	height: 80px;
	}
	
}
/* Landscape phones and down */
@media (max-width: 480px) {
	#smallin {
		margin-top: 0px;
		text-align: center;
		z-index: -1000000000000;
		}
	#circles {
		margin-top: 20px;
	
	}
	#carousel {
		margin-top: 0;
		}
	#main {
	margin-top: 0px;
	}
	
	#pagehead h1 {
  color: #000;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  margin-top: 0px;
  margin-left: 50px;
  text-shadow: 1px 1px 1px #333;
}
	
	.jumbotron h1 {
		font-size: 20px;
		margin-top: -60px;
		} 
	.navbar-inner {
	height: 100px;
	border-radius: 0;
	z-index: 50000000;
	}
	#navigation {
	float: right;
	margin-top: 0;
	z-index: 50000000;
	}
	#flag1 {
	font-family: 'Roboto Slab', serif;
	font-size: 50px;
	color: #B42004;
	font-weight: bold;
	margin-bottom: 0px;
	letter-spacing:-5px;
	}
#flag2 {
	font-family: 'Roboto Slab', serif;
	size: 60px;
	color: #CF3;
	font-size: 50px;
	font-weight: bold;
	margin-bottom: 0px;
	letter-spacing:-5px;
	}
 }	
 
 @media (max-width: 320px) { 
 	#forthephones {
		margin-top: 80px;
		height: 80px;
		z-index: -1000000000000;
		}
 	.jumbotron h1 {
		font-size: 20px;
		margin-top: -60px;
		}
	.navbar-inner {
	height: 60px;
	border-radius: 0;
	z-index: 50000000;
	}
	#navigation {
	float: right;
	margin-top: 0;
	z-index: 50000000;
	}
	#flag1 {
	font-family: 'Roboto Slab', serif;
	font-size: 33px;
	color: #B42004;
	font-weight: bold;
	margin-bottom: 0px;
	letter-spacing:-5px;
	}
#flag2 {
	font-family: 'Roboto Slab', serif;
	size: 60px;
	color: #CF3;
	font-size: 33px;
	font-weight: bold;
	margin-bottom: 0px;
	letter-spacing:-5px;
	}
	#myCarousel {
	z-index:-1000000000;
	}
	#menu .navbar .navbar-inverse {
		z-index:1000000000;
	}
	#main{
		z-index: -1000000000;
	}
 }	
 
 @media screen and (device-aspect-ratio: 40/71) {
 	#biggin {
 		display:none;
 	}
	 #thebigone {
		display:none; 
		 
		 }
	#smallin {
		margin-top: -20px;
		text-align: center;
		z-index: -1000000000000;
		}
	#circles {
		margin-top: 130px;
		z-index: 1000000000000;
		}
	#content {
		margin-top: 30px;
		z-index: 1000000000000;
		}

	 #headline {
	margin-left: 0;
	height: 40px;
		}
	#headline h1 {
	font-size: 20px;
		}
	#thepost {
	margin-top: 30px;
	}
	
	#headline h1 {
	font-weight: 800;
	letter-spacing: -3px;
	font-size: 40px;
	padding-bottom: 20px;
	}
	 .navbar-inner {
		 height: 100px;
		 z-index: -10000000;
		 }
	.jumbotron h1 {
		font-size: 30px;
		margin-top: -60px;
		}
	
	#navigation {
		margin-top: 0px;
		z-index: -10000000;
		}
	#twitter-feed,
	.twitter-article{
		width: 100%;
	}
	
	.twitter-text {
		width: 90%;
		}
	 }

@media only screen 
and (min-device-width : 320px)
and (max-device-width : 568px) 
and (orientation : landscape) {
    #smallin {
		margin-top: 60px;
		text-align: center;
		z-index: -1000000000000;
		}
	#circles {
		margin-top: 20px;
		z-index: 1000000000000;
		}
	#content {
		margin-top: 20px;
	}
	#thepost {
	margin-top: 20px;
	}
}

@media only screen 
and (min-device-width : 320px)
and (max-device-width : 568px) 
and (orientation : portrait) {
    #forthephones {
		margin-top: 0px;
		text-align: center;
		z-index: -1000000000000;
		}
	#circles {
		margin-top: 100px;
		z-index: 1000000000000;
		}
	#content {
		margin-top: 20px;
	}
	#thepost {
	margin-top: 20px;
	}
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) 
and (orientation : portrait) {
	#thebigone {
		display: none;
		} 
	.navbar-inner {
		height: 100px;
		z-index: -100000;
	}
	 #smallin {
		margin-top: 0px;
		text-align: center;
		z-index: -1000000000000;
		}
	#circles {
		margin-top: 130px;
		z-index: 1000000000000;
		}
	#content {
		margin-top: 20px;
		z-index: 1000000000000;
	}
	#thepost {
	margin-top: 20px;
	}
	#eventmenu {
	margin-left: 0px;
	}
	#speakersmenu {
	margin-left: 0px;
	}
	 
@media print {
	.jumbotron h1 {
		color: #fff;
		margin-top: 0;
		}
		
	#biggin {
		margin-top: 50px;
		}
	}